body {background:#000;color:#fff;line-height:1}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    background: none;
}

a {
    color: initial;
    text-decoration: none
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none
}

body {
    color: #fff;
    line-height: 1;
    background: #000
}

.blind {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px
}

@media screen and (min-width: 1200px) {
    html {
        font-size: calc(6px + .5vw);
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: calc(6px + .5vw);
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: calc(6px + .5vw);
    }
}


.item_slide {display: flex;flex-wrap:nowrap;overflow: auto;padding: 0 3.75rem;}
.item_slide .swiper-wrapper {transform: translateZ(0);}
.item_slide .list_card {flex-shrink:0;width: 13.75rem;animation: showItem 0.5s ease-in;}
.item_slide .list_card + .list_card {margin-left: 1.875rem;}
.item_slide .list_card img {display: block;width: 100%;height: 20.5rem;border-radius: 0.5rem;}
.item_slide .list_card h3 {margin-top: 0.938rem;color: #fff;font-size: 1.375rem;font-weight: normal;line-height: 1.75rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.item_slide .list_card:hover {transform: translate3d(0, -0.75rem, 0);transition: transform 0.3s ease-in-out;cursor: pointer;}
.item_slide .list_card.person_card {width: 9.25rem;}
.item_slide .list_card.person_card img {height: 13.813rem;}
.item_slide:hover .swiper-button-prev {display: block;}
.item_slide:hover .swiper-button-next {display: block;}
.item_slide .swiper-button-prev {display: none;top: 20px;left: 0;width: 50px;height: 100%;z-index: 100;}
.item_slide .swiper-button-prev:before {position: absolute;top: 0;left: 0;width: 60px;height: 100%;background: linear-gradient(to right, black, rgba(0, 0, 0, 0));content: "";}
.item_slide .swiper-button-prev:after {position: absolute;top: calc(50% - 3rem);display: block;width: 50px;height: 50px;background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 4L7 12L15 20' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;content: "";}
.item_slide .swiper-button-prev.swiper-button-disabled {pointer-events: auto;}
.item_slide .swiper-button-next {display: none;top: 20px;right: 0;width: 50px;height: 100%;z-index: 100;}
.item_slide .swiper-button-next:before {position: absolute;top: 0;right: 0;width: 60px;height: 100%;background: linear-gradient(to left, black, rgba(0, 0, 0, 0));content: "";}
.item_slide .swiper-button-next:after {position: absolute;top: calc(50% - 3rem);right: 0;display: block;width: 50px;height: 50px;background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 20L17 12L9 4' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;content: "";}
.item_slide .swiper-button-next.swiper-button-disabled {pointer-events: auto;}

.credits_more_card .swiper-button-prev:after {content: none;}
.credits_more_card .swiper-button-prev:before {content: none;}
.credits_more_card .swiper-button-next:after {content: none;}
.credits_more_card .swiper-button-next:before {content: none;}

.credits_more {flex-shrink: 0;display: flex;align-items: center;color: #fff;font-size: 1.5rem;}
.credits_more:before {display: block;margin: 0 1rem;width: 1px;height: 1.5rem;background: #fff;content: "";}
.credits_more:after {display: block;margin-left: 8px;width: 14px;height: 14px;background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' viewBox='0 0 11 8' fill='none'%3E%3Cpath d='M9.42857 2L5.71429 6L2 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;transform: rotate(-90deg);content: "";}

@media screen and (max-width: 768px) {
    .item_slide {padding-left: 2.5rem;}
    .item_slide .list_card {width: 12.25rem;}
    .item_slide .list_card + .item_card {margin-left: 10px;}
    .item_slide .list_card img {height: 18.375rem;}
    .item_slide .list_card h3 {font-size: 1.5rem;}
    .credits_more:before {content: none;}
}


.type_list {display: flex;align-items: center;margin-left: 0.938rem;}
.type_list li + li {margin-left: 0.625rem;}
.type_list li button {display: flex;align-items: center;height: 2.5rem;padding: 0 0.938rem;color: #fff;font-size: 1.375rem;border: 1px solid #fff;border-radius: 3.125rem;background: #000;}
.type_list li button.active {color: #000;border-color: #000;background: #fff;}