.item_container {padding:8.75rem 0; overflow:hidden;}
.item_container .item_box+.item_box {margin-top:5rem;}
/* 제목 */
.item_slide {padding:0 3.75rem;}
.item_slide .swiper-wrapper {transform:translateZ(0);}
.item_slide .list_card {flex-shrink:0; width:13.75rem; animation:showItem 0.5s ease-in;}
.item_slide .list_card + .list_card {margin-left:1.875rem;}
.item_slide .list_card img {display:block; width:100%; height:20.5rem; border-radius:0.5rem;}
.item_slide .list_card h3 {margin-top:0.938rem; overflow:hidden; color:#fff; font-size:1.375rem; font-weight:normal; text-overflow:ellipsis; line-height:1.75rem; white-space:nowrap;}
.item_slide .list_card:hover {cursor:pointer; transform:translate3d(0, -0.75rem, 0);transition:transform 0.3s ease-in-out;}
.item_slide .list_card.person_card {width:9.25rem;}
.item_slide .list_card.person_card img {height:13.813rem;}
.item_slide:hover .swiper-button-prev {display:block;}
.item_slide:hover .swiper-button-next {display:block;}
.item_slide .swiper-button-prev {display:none; z-index:100; top:20px; left:0; width:50px; height:100%;}
.item_slide .swiper-button-prev:before {content:""; position:absolute; top:0; left:0; width:60px; height:100%; background:linear-gradient(to right, black, rgba(0, 0, 0, 0));}
.item_slide .swiper-button-prev:after {content:""; display:block; position:absolute; top:calc(50% - 3rem); width:50px; height:50px; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 4L7 12L15 20' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;}
.item_slide .swiper-button-prev.swiper-button-disabled {pointer-events:auto;}
.item_slide .swiper-button-next {display:none; z-index:100; top:20px; right:0; width:50px; height:100%;}
.item_slide .swiper-button-next:before {content:""; position:absolute; top:0; right:0; width:60px; height:100%; background:linear-gradient(to left, black, rgba(0, 0, 0, 0));}
.item_slide .swiper-button-next:after {content:""; display:block; position:absolute; top:calc(50% - 3rem); right:0; width:50px; height:50px; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 20L17 12L9 4' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;}
.item_slide .swiper-button-next.swiper-button-disabled {pointer-events:auto;}
.credits_more_card .swiper-button-prev:after {content:none;}
.credits_more_card .swiper-button-prev:before {content:none;}
.credits_more_card .swiper-button-next:after {content:none;}
.credits_more_card .swiper-button-next:before {content:none;}
.credits_more {display:flex; align-items:center; flex-shrink:0; color:#fff; font-size:1.5rem;}
.credits_more:before {content:""; display:block; width:1px; height:1.5rem; margin:0 1rem; background:#fff;}
.credits_more:after {content:""; display:block; width:14px; height:14px; margin-left:8px; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' viewBox='0 0 11 8' fill='none'%3E%3Cpath d='M9.42857 2L5.71429 6L2 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat; transform:rotate(-90deg);}
@media screen and (max-width:768px) {
    .item_slide {padding-left:2.5rem;}
    .item_slide .list_card {width:12.25rem;}
    .item_slide .list_card + .item_card {margin-left:10px;}
    .item_slide .list_card img {height:18.375rem;}
    .item_slide .list_card h3 {font-size:1.5rem;}
    .credits_more:before {content:none;}
}
.type_list {display:flex; align-items:center; margin-left:0.938rem;}
.type_list li + li {margin-left:0.625rem;}
.type_list li button {display:flex; align-items:center; height:2.5rem; padding:0 0.938rem; border:1px solid #fff; border-radius:3.125rem; background:#000; color:#fff; font-size:1.375rem;}
.type_list li button.active {border-color:#000; background:#fff; color:#000;}